     .cls-1, .cls-2 {
        fill: none;
        stroke-miterlimit: 10;
      }

      .cls-1 {
        stroke: #8e2242;
      }

      .cls-2 {
        stroke: #1100d7;
      }

      .cls-3 {
        fill: #46a085;
      }
    